@import url('bootstrap.css');
@import url('https://fonts.googleapis.com/css?family=Days+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600');


.header{
	background-color: black;
	width: 100%;
	height: 100vh;
}

#bg-1 {
	position: absolute;
	float: right;
	height: 100vh;
	width: 100%;
	padding-top: 6.5rem;
}

nav {
	padding: 0px !important;
	-webkit-box-shadow:inset 0 -1px 0 0 #1a1a1a;
	box-shadow:inset 0 -1px 0 0 #1a1a1a;
	-moz-box-shadow:inset 0px -1px 0px 0px #1a1a1a;

}


.last-c {
	padding-right: 0px !important;
    margin-right: 0px !important;
    border-right: none !important;
}

.navbar-brand {
	padding: 0px !important;
}

.header .container .nav a img {
	height: 6.25rem;
	width: 6.25rem;
}

.nav-link {
	font-size: 1rem;
	color: #505562;
	padding: 0.5rem 0;
	font-family: "Days One";
	font-weight: 200;
}
.nav-link:hover {
	color: white;
}

.logoName {
	font-family: 'Days One';
	font-size: 2rem;
	color: white;

}
#navbarNav {
	height: 7.6rem !important;
	float: right;
	display: inline-block;
	width: 100%;
}
.navig {
	text-decoration: none;
	display: inline-block;
}
.active {
	color: white;
}
.nav-item {
	margin: 0 1rem;
}

#navbarNav ul li {
	display: inline-block;
	position: relative;
	height: 100%;
	line-height: 6.25rem;
}
#navbarNav ul li:hover{

  background:
    linear-gradient(
      to left, 
      #5b0bd3 0%,
      #0bd360 100%
    )
    left 
    bottom
    #000    
    no-repeat; 
  background-size:100% 1px ;
}
.Nactive {
	background:
    linear-gradient(
      to left, 
      #5b0bd3 0%,
      #0bd360 100%
    )
    left 
    bottom
    #000    
    no-repeat; 
  background-size:100% 1px ;
	color: white !important;
}

#navbarNav ul {
	height: 100%;
}

.welcome-text {
	color: white;
	position: relative;
}
.header .container h1{
	font-weight: 300;
}

.bold {
	font-weight: 600;
}

#landingContainer {
    height: 80vh;
    width: 100%;
    position: relative;
}

.welcome {
	height: auto;
    position: absolute;
    bottom: 5rem;
	

}
#wel-paragraph {
	color: #4e5260;
	font-size: 1.2rem;
}


.g2a-button {
	position: absolute;
    
    bottom: 5rem;
    right: 0rem;
}

/* END of SECTION 1  */

#orderProgress {
    background-color: #5b0bd3;
}

#orderProgress .col-sm {
    text-align: center;
    margin: 3rem auto;
    border-right: 1px solid #772aeb;

}



#orderProgress h5 {
    color: #fff;
    font-weight: bold;
    margin: 1rem 0;
}

#orderProgress p {
    color: #b0b6be;
}


/* END OF PROGRESS BAR */



#orderSection {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#orderSection .active {
	border: none;
    border-bottom: 1px solid #772aeb;
    color: #772aeb;
}

#navtab .active {
	border: none;
	border-bottom: 1px solid #772aeb;
	color: #772aeb;
	
}

#orderSection .nav-tabs .nav-item {
	margin-bottom: -1px !important;
	margin-top: 2rem;
}

#orderSection .nav-item {
	margin: 0;
	padding-left: 1rem;
	padding-right: 1rem;
}

#orderSection .nav-link:hover {
	color: #772aeb;
	border: none	;
	border-bottom: 1px solid #772aeb;
}


.first-c {

	padding-left: 0 !important;
}
#nav-home {
    border: none !important;
}
/* END OF ORDER NAVBAR */

.control-checkbox {
	color: #000;
}

.control {
	display: inline-block;
	position: relative;
    padding-left: 41px;
    margin-bottom: 30px;
    padding-top: 7px;
    cursor: pointer;
	font-size: 16px;
	margin-right: 5rem;
    margin-top: 2rem;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 30px;
    width: 30px;
    background: #e6e6e6;
    border: 0px solid grey;
    border-radius: 5px;
    
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #000000;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 10px;
    top: 2px;
    width: 8px;
    height: 18px;
    border: solid #08c115;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}


.select-box {
    display: inline-flex;
    width: 300px;
    flex-direction: column;
    margin-right: 3rem;
  }
  
  .select-box .options-container, .options-container1 {
    background: #a1a1a1;
    color: #000 !important;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .selected, .selected1 {
    background: #fff;
    margin-bottom: 8px;
    color: #000000;
    position: relative;
    border-bottom: 1px solid #000;
    order: 0;
  }
  
  .selected::after , .selected1::after{
    content: "";
    background: url("data:image/svg+xml, %3Csvg  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 8c0-4.418-3.582-8-8-8s-8 3.582-8 8 3.582 8 8 8 8-3.582 8-8zM1.5 8c0-3.59 2.91-6.5 6.5-6.5s6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5-6.5-2.91-6.5-6.5zM4.957 5.543l-1.414 1.414 4.457 4.457 4.457-4.457-1.414-1.414-3.043 3.043z'%3E%3C/path%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    
    position: absolute;
    height: 100%;
    width: 36px;
    right: 0px;
    top: 15px;
  
    transition: all 0.1s;
  }
  
  .select-box .options-container.active, .options-container1.active{
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .select-box .options-container.active + .selected::after, .options-container1.active + .selected1::after {
    transform: rotateX(180deg);
    top: -15px;
  }
  
  .select-box .options-container::-webkit-scrollbar, .options-container1::-webkit-scrollbar {
    width: 8px;
    background: #1f1f1f;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb, .options-container1::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected, .option1, .selected1 {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover, .option1:hover {
    background: #414b57;
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .option .radio {
    display: none;
  }
  
  .select-box .option1 .radio {
      display: none;
  }