@import url('bootstrap.css');
@import url('https://fonts.googleapis.com/css?family=Days+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600');


.header{
	background-color: black;
	width: 100%;
	height: 100vh;
}

#bg-1 {
	position: absolute;
	float: right;
	height: 100vh;
	width: 100%;
	padding-top: 6.5rem;
}

nav {
	padding: 0px !important;
	-webkit-box-shadow:inset 0 -1px 0 0 #1a1a1a;
	box-shadow:inset 0 -1px 0 0 #1a1a1a;
	-moz-box-shadow:inset 0px -1px 0px 0px #1a1a1a;

}


.last-c {
	padding-right: 0px !important;
	margin-right: 0px !important;
}

.navbar-brand {
	padding: 0px !important;
}

.header .container .nav a img {
	height: 6.25rem;
	width: 6.25rem;
}

.nav-link {
	font-size: 1rem;
	color: #505562;
	padding: 0.5rem 0;
	font-family: "Days One";
	font-weight: 200;
}
.nav-link:hover {
	color: white;
}

.logoName {
	font-family: 'Days One';
	font-size: 2rem;
	color: white;

}
#navbarNav {
	height: 7.6rem !important;
	float: right;
	display: inline-block;
	width: 100%;
}
.navig {
	text-decoration: none;
	display: inline-block;
}
.active {
	color: white;
}
.nav-item {
	margin: 0 1rem;
}

#navbarNav ul li {
	display: inline-block;
	position: relative;
	height: 100%;
	line-height: 6.25rem;
}
#navbarNav ul li:hover{

  background:
    linear-gradient(
      to left, 
      #5b0bd3 0%,
      #0bd360 100%
    )
    left 
    bottom
    #000    
    no-repeat; 
  background-size:100% 1px ;
}
.Nactive {
	background:
    linear-gradient(
      to left, 
      #5b0bd3 0%,
      #0bd360 100%
    )
    left 
    bottom
    #000    
    no-repeat; 
  background-size:100% 1px ;
	color: white !important;
}

#navbarNav ul {
	height: 100%;
}

.welcome-text {
	color: white;
	position: relative;
}
.header .container h1{
	font-weight: 300;
}

.bold {
	font-weight: 600;
}

#landingContainer {
    height: 80vh;
    width: 100%;
    position: relative;
}

.welcome {
	height: auto;
    position: absolute;
    bottom: 5rem;
	

}
#wel-paragraph {
	color: #4e5260;
	font-size: 1.2rem;
}


.g2a-button {
	position: absolute;
    
    bottom: 5rem;
    right: 0rem;
}



